body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.legend {
  padding: 10px;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 12px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #555;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  line-height: 1.35;
}

.legend i {
  padding: 2px;
  width: 10px;
  height: 10px;
  float: left;
  margin-right: 8px;
  opacity: 0.75;
}